@media only screen and (min-width: 320px) and (max-width:375px) {
  .topheding .heding {
    font-size: 30px;
    margin-bottom: 0px;
  }
  .topheding .heding2 {
    font-size: 18px;
  }
  .navbarbutton {
    width: 20%;
  }
  .navbar-toggler {
    float: right;
  }
  .searchbar {
    width: 104%;
    top: 82%;
  }
  .clsButtonsearch{
    width: 120px !important;
  }
 .logotext {
    font-size: 26px;
  }
  .text-primary {
    font-size: 25px;
  }

  .clsContact {
    padding: 12px 50px !important;
    
  }

  .img-responsive{
    height: 110px !important;
  }

}

@media screen and (min-device-width: 375px)
and (max-device-width: 768px) {
  .searchbar {
    padding: 0 10px 30px 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 8px;
  }
  .clsSearchbar {
    top: 80%;
    background-color: rgba(0,0,0,0.4);
    width: 80%;
    height: 145px;
    border-radius: 5px;
  }
}

@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .searchbar {
    padding: 0 10px 30px 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 8px;
  }
  .clsSearchbar {
    top: 80%;
    background-color: rgba(0,0,0,0.4);
    width: 80%;
    height: 145px;
    border-radius: 5px;
  }
}

@media screen and (min-device-width: 1024px)
and (max-device-width: 1074px) {
  .searchbar {
    padding: 0 10px 30px 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 8px;
  }
  .clsSearchbar {
    top: 77%;
    background-color: rgba(0,0,0,0.4);
    width: 70%;
    height: 145px;
    border-radius: 5px;
  }
  .topheding .heding2 {
    font-size: 22px;
    margin-bottom: 158px;
  }
  .topheding .heding {
    font-size: 39px;
  }
}

@media screen and (min-device-width: 1024px)
and (max-device-width: 1200px) {
  .searchbar {
    padding: 0 10px 30px 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 8px;
  }
  .clsSearchbar {
    top: 80%;
    background-color: rgba(0,0,0,0.4);
    width: 72%;
    height: 145px;
    border-radius: 5px;
  }
  .topheding .heding2 {
    font-size: 24px;
    margin-bottom: 135px;
  }
  .topheding .heding {
    font-size: 43px;
  }
  .topheding {
    width: 100%;
    position: absolute;
    left: 50%;
    /* width: 50%; */
    /* top: 64%; */
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-device-width: 1200px)
and (max-device-width: 1400px) {
  .searchbar {
    padding: 0 10px 30px 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 8px;
  }
  .clsSearchbar {
    top: 83%;
    background-color: rgba(0,0,0,0.4);
    width: 62%;
    height: 125px;
    border-radius: 5px;
  }
  .topheding .heding2 {
    font-size: 24px;
    margin-bottom: 95px;
  }
  .topheding .heding {
    font-size: 44px;
  }
}

@media screen and (min-device-width: 375px)
and (max-device-width: 1024px) {
  .form-select {
    width: 118px !important;
  }
  
}

@media screen and (min-device-width: 1025px)
and (max-device-width: 1300px) {
  .form-select {
    width: 118px !important;
  }
  
}

@media only screen and (min-width: 400px) and (max-width:540px) {
  .topheding .heding {
    font-size: 28px;
    margin-bottom: 0px;
  }
  .topheding .heding2 {
    font-size: 19px;
  }
  .navbarbutton {
    width: 20%;
  }
  .navbar-toggler {
    float: right;
  }
}

@media only screen and (min-width:600px) and (max-width:768px) {
  .topheding .heding {
    font-size: 33px;
    margin-bottom: 0px;
  }
  .topheding .heding2 {
    font-size: 18px;
    margin-bottom: 116px;
  }
  .navbarbutton {
    width: 48%;
  }
  .navbar-toggler {
    float: right;
  }
}

@media only screen and (max-width:768px) {
  .logotext {
    font-size: 26px;
  }
  .footertext ul li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .clsContact {
    padding: 12px 8px !important
  }
  .mobileBTN1{
    margin-left: 20px !important;
  }
  .mobileBTN2{
    margin-left: 60% !important;
  }
  .mobileBTNnotSlid1{
    margin: 1.5rem !important;
    margin-left: 6.5rem !important;
  }
  .mobileBTNnotSlid2{
    margin: 1.5rem !important;
    margin-left: 6.5rem !important;
  }
  .mobileBTN {
    width: 96%;
    font-size: 1.3rem;
    padding: 0px;
    margin-left: 0px !important;
  }
}



